<style>
  textarea {
      resize: none;
      width: 400px;
      height: 100px;
  }
  #test {
      padding: 20px;
      -moz-border-radius: 0px 0px 20px 20px;
      -webkit-border-radius: 0px 0px 20px 20px;
      background-color: #fbbc3b;
  }
  #logo {
      -moz-border-radius: 20px 20px 0px 0px;
      -webkit-border-radius: 20px 20px 0px 0px;
      background-color: #fbbc3b;
  }
  #main {
      width: 850px;
      text-align: center;
      margin:0 auto;
      font-family: PFBeauSansPro-Reg;
  }
  @font-face {
      font-family: PFBeauSansPro-Reg;
      src: url(<%= asset_path('PFBeauSansPro-Reg.ttf') %>);
  }
</style>

<div id='main'>
  <div id='logo' align='right'>
    <img src= <%= asset_path("a_2aecfa98.jpg") %>>
  </div>
  <div id='test' align='left'>
    <ol>
      <%= form_for :questions, :url => '/foo' do |main_form|%>
      <%- @questions.each do |question| -%>
        <li><%= question.question_text -%> <br /></li>
              <%- if question.answers.empty? %>
                <%= text_area_tag question.id.to_s %>
                <br />
              <%- end %>
              <% question.answers.each do |u| %>
                <%= radio_button_tag(question.id.to_s, u.id.to_s) %>
                  <%=  main_form.label question.id.to_s,  u.answer_text %><br />
              <%- end %>
              <br />
        <%- end %>
        <%= main_form.submit :value => "Отправить" %>
      <%- end -%>
    </ol>
  </div>

</div>
