#main{ align: "center" }
  = simple_form_for @user do |f|
    - f.with_options input_html: { class: :span6 } do |f|
      = f.input :fio, as: :string
      = f.input :district, as: :select, collection: MICDistricts.all
      = f.input :card_num, as: :string
      .actions
        = f.submit t('.registration'), class: 'btn btn-success'
  = link_to t('sign_in'), new_sessions_path, class: 'btn btn-success'
