= simple_form_for @answer do |f|
  - f.with_options input_html: { class: :span6 } do |f|
    = f.input :user_id, as: :hidden, input_html: { value: current_user.id }
    = f.input :question_id, as: :hidden, input_html: { value: params[:id] }
    - if @question
      %h2
        = @question.text
      - if @question.variants.any?
        = f.association :variant, value_method: :id, label_method: :text, collection: @question.variants, prompt: t('.choose_right_answer')
      - else
        = f.input :text
    .actions
      = f.submit t('.give_answer')
