= stylesheet_link_tag :answers

- model_class = Answer
.page-header
  %h1
    = t '.title'
    - if @answers.any?
      = @answers.first.user.fio
  %h3
    = points(@answers)
    = t('.points')

%table.table.table-striped
  %thead
    %tr
      %th= t('ru.activerecord.attributes.answers.question')
      %th= t('ru.activerecord.attributes.answers.variant')
      %th= model_class.human_attribute_name(:text)
      %th= model_class.human_attribute_name(:created_at)
  %tbody
    - @answers.each do |answer|
      - if answer.check == :right
        %tr.success
          %td= answer.question_id
          %td= answer.variant_id
          %td= answer.text
          %td=l answer.created_at
      - elsif answer.decorate.check == :wrong
        %tr.error
          %td= answer.question_id
          %td= answer.variant_id
          %td= answer.text
          %td=l answer.created_at
      - elsif
        %tr
          %td= answer.question_id
          %td= answer.variant_id
          %td= answer.text
          %td=l answer.created_at
