<!DOCTYPE html>
<html>
<head>
  <title><%= t('.mic_test')%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class = "row">
    <div class = "offset2 span8">
      <%= flash_messages :close %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </div>
</body>
</html>
